<!-- html table generated in R 4.0.2 by xtable 1.8-4 package -->
<!-- Tue Apr  6 16:14:27 2021 -->
<table border=1>
<caption align="top">  Gene to GO BP  test for over-representation </caption>
<tr> <th> GOBPID </th> <th> Pvalue </th> <th> OddsRatio </th> <th> ExpCount </th> <th> Count </th> <th> Size </th> <th> Term </th>  </tr>
  <tr> <td> GO:0055123 </td> <td align="right"> 0.000 </td> <td align="right"> 12.849 </td> <td align="right"> 3 </td> <td align="right"> 10 </td> <td align="right"> 12 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0055123">digestive system development</a> </td> </tr>
  <tr> <td> GO:0009605 </td> <td align="right"> 0.002 </td> <td align="right"> 1.723 </td> <td align="right"> 59 </td> <td align="right"> 75 </td> <td align="right"> 202 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0009605">response to external stimulus</a> </td> </tr>
  <tr> <td> GO:0072593 </td> <td align="right"> 0.002 </td> <td align="right"> 4.407 </td> <td align="right"> 6 </td> <td align="right"> 12 </td> <td align="right"> 19 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0072593">reactive oxygen species metabolic process</a> </td> </tr>
  <tr> <td> GO:0043065 </td> <td align="right"> 0.002 </td> <td align="right"> 2.453 </td> <td align="right"> 15 </td> <td align="right"> 25 </td> <td align="right"> 52 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0043065">positive regulation of apoptotic process</a> </td> </tr>
  <tr> <td> GO:0001502 </td> <td align="right"> 0.002 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 5 </td> <td align="right"> 5 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0001502">cartilage condensation</a> </td> </tr>
  <tr> <td> GO:0098743 </td> <td align="right"> 0.002 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 5 </td> <td align="right"> 5 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0098743">cell aggregation</a> </td> </tr>
  <tr> <td> GO:0032501 </td> <td align="right"> 0.002 </td> <td align="right"> 1.721 </td> <td align="right"> 131 </td> <td align="right"> 147 </td> <td align="right"> 452 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0032501">multicellular organismal process</a> </td> </tr>
  <tr> <td> GO:0043068 </td> <td align="right"> 0.003 </td> <td align="right"> 2.360 </td> <td align="right"> 15 </td> <td align="right"> 25 </td> <td align="right"> 53 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0043068">positive regulation of programmed cell death</a> </td> </tr>
  <tr> <td> GO:0042692 </td> <td align="right"> 0.003 </td> <td align="right"> 3.232 </td> <td align="right"> 8 </td> <td align="right"> 15 </td> <td align="right"> 27 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0042692">muscle cell differentiation</a> </td> </tr>
  <tr> <td> GO:0044319 </td> <td align="right"> 0.003 </td> <td align="right"> 15.126 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 7 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0044319">wound healing, spreading of cells</a> </td> </tr>
  <tr> <td> GO:0090505 </td> <td align="right"> 0.003 </td> <td align="right"> 15.126 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 7 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0090505">epiboly involved in wound healing</a> </td> </tr>
  <tr> <td> GO:0034614 </td> <td align="right"> 0.003 </td> <td align="right"> 6.766 </td> <td align="right"> 3 </td> <td align="right"> 8 </td> <td align="right"> 11 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0034614">cellular response to reactive oxygen species</a> </td> </tr>
  <tr> <td> GO:0072359 </td> <td align="right"> 0.003 </td> <td align="right"> 2.057 </td> <td align="right"> 22 </td> <td align="right"> 33 </td> <td align="right"> 76 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0072359">circulatory system development</a> </td> </tr>
  <tr> <td> GO:0048565 </td> <td align="right"> 0.003 </td> <td align="right"> 8.852 </td> <td align="right"> 3 </td> <td align="right"> 7 </td> <td align="right"> 9 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0048565">digestive tract development</a> </td> </tr>
  <tr> <td> GO:0045595 </td> <td align="right"> 0.003 </td> <td align="right"> 1.785 </td> <td align="right"> 38 </td> <td align="right"> 51 </td> <td align="right"> 130 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0045595">regulation of cell differentiation</a> </td> </tr>
  <tr> <td> GO:0010942 </td> <td align="right"> 0.004 </td> <td align="right"> 2.274 </td> <td align="right"> 16 </td> <td align="right"> 25 </td> <td align="right"> 54 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0010942">positive regulation of cell death</a> </td> </tr>
  <tr> <td> GO:0030178 </td> <td align="right"> 0.004 </td> <td align="right"> 4.018 </td> <td align="right"> 5 </td> <td align="right"> 11 </td> <td align="right"> 18 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0030178">negative regulation of Wnt signaling pathway</a> </td> </tr>
  <tr> <td> GO:0051146 </td> <td align="right"> 0.005 </td> <td align="right"> 3.339 </td> <td align="right"> 7 </td> <td align="right"> 13 </td> <td align="right"> 23 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0051146">striated muscle cell differentiation</a> </td> </tr>
  <tr> <td> GO:0007275 </td> <td align="right"> 0.005 </td> <td align="right"> 1.598 </td> <td align="right"> 115 </td> <td align="right"> 130 </td> <td align="right"> 395 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0007275">multicellular organism development</a> </td> </tr>
  <tr> <td> GO:0044087 </td> <td align="right"> 0.005 </td> <td align="right"> 2.044 </td> <td align="right"> 20 </td> <td align="right"> 30 </td> <td align="right"> 69 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0044087">regulation of cellular component biogenesis</a> </td> </tr>
  <tr> <td> GO:0048646 </td> <td align="right"> 0.006 </td> <td align="right"> 1.875 </td> <td align="right"> 26 </td> <td align="right"> 37 </td> <td align="right"> 90 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0048646">anatomical structure formation involved in morphogenesis</a> </td> </tr>
  <tr> <td> GO:0023057 </td> <td align="right"> 0.006 </td> <td align="right"> 1.817 </td> <td align="right"> 30 </td> <td align="right"> 41 </td> <td align="right"> 102 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0023057">negative regulation of signaling</a> </td> </tr>
  <tr> <td> GO:0010648 </td> <td align="right"> 0.006 </td> <td align="right"> 1.817 </td> <td align="right"> 30 </td> <td align="right"> 41 </td> <td align="right"> 102 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0010648">negative regulation of cell communication</a> </td> </tr>
  <tr> <td> GO:0048731 </td> <td align="right"> 0.006 </td> <td align="right"> 1.564 </td> <td align="right"> 103 </td> <td align="right"> 118 </td> <td align="right"> 354 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0048731">system development</a> </td> </tr>
  <tr> <td> GO:0031344 </td> <td align="right"> 0.006 </td> <td align="right"> 2.056 </td> <td align="right"> 19 </td> <td align="right"> 28 </td> <td align="right"> 64 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0031344">regulation of cell projection organization</a> </td> </tr>
  <tr> <td> GO:0006915 </td> <td align="right"> 0.006 </td> <td align="right"> 1.707 </td> <td align="right"> 39 </td> <td align="right"> 51 </td> <td align="right"> 133 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0006915">apoptotic process</a> </td> </tr>
  <tr> <td> GO:0030334 </td> <td align="right"> 0.006 </td> <td align="right"> 2.170 </td> <td align="right"> 15 </td> <td align="right"> 24 </td> <td align="right"> 53 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0030334">regulation of cell migration</a> </td> </tr>
  <tr> <td> GO:0051128 </td> <td align="right"> 0.007 </td> <td align="right"> 1.611 </td> <td align="right"> 52 </td> <td align="right"> 66 </td> <td align="right"> 181 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0051128">regulation of cellular component organization</a> </td> </tr>
  <tr> <td> GO:0051492 </td> <td align="right"> 0.007 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 4 </td> <td align="right"> 4 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0051492">regulation of stress fiber assembly</a> </td> </tr>
  <tr> <td> GO:0042417 </td> <td align="right"> 0.007 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 4 </td> <td align="right"> 4 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0042417">dopamine metabolic process</a> </td> </tr>
  <tr> <td> GO:0048793 </td> <td align="right"> 0.007 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 4 </td> <td align="right"> 4 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0048793">pronephros development</a> </td> </tr>
  <tr> <td> GO:0035137 </td> <td align="right"> 0.007 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 4 </td> <td align="right"> 4 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0035137">hindlimb morphogenesis</a> </td> </tr>
  <tr> <td> GO:0070633 </td> <td align="right"> 0.007 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 4 </td> <td align="right"> 4 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0070633">transepithelial transport</a> </td> </tr>
  <tr> <td> GO:0014902 </td> <td align="right"> 0.007 </td> <td align="right"> 5.064 </td> <td align="right"> 3 </td> <td align="right"> 8 </td> <td align="right"> 12 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0014902">myotube differentiation</a> </td> </tr>
  <tr> <td> GO:0072009 </td> <td align="right"> 0.007 </td> <td align="right"> 5.064 </td> <td align="right"> 3 </td> <td align="right"> 8 </td> <td align="right"> 12 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0072009">nephron epithelium development</a> </td> </tr>
  <tr> <td> GO:0045596 </td> <td align="right"> 0.008 </td> <td align="right"> 2.146 </td> <td align="right"> 15 </td> <td align="right"> 23 </td> <td align="right"> 51 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0045596">negative regulation of cell differentiation</a> </td> </tr>
  <tr> <td> GO:0010035 </td> <td align="right"> 0.008 </td> <td align="right"> 2.146 </td> <td align="right"> 15 </td> <td align="right"> 23 </td> <td align="right"> 51 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0010035">response to inorganic substance</a> </td> </tr>
  <tr> <td> GO:0035051 </td> <td align="right"> 0.008 </td> <td align="right"> 5.889 </td> <td align="right"> 3 </td> <td align="right"> 7 </td> <td align="right"> 10 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0035051">cardiocyte differentiation</a> </td> </tr>
  <tr> <td> GO:0016477 </td> <td align="right"> 0.009 </td> <td align="right"> 1.761 </td> <td align="right"> 29 </td> <td align="right"> 40 </td> <td align="right"> 101 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0016477">cell migration</a> </td> </tr>
  <tr> <td> GO:0048514 </td> <td align="right"> 0.009 </td> <td align="right"> 2.258 </td> <td align="right"> 12 </td> <td align="right"> 20 </td> <td align="right"> 43 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0048514">blood vessel morphogenesis</a> </td> </tr>
  <tr> <td> GO:0045766 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0045766">positive regulation of angiogenesis</a> </td> </tr>
  <tr> <td> GO:0032526 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0032526">response to retinoic acid</a> </td> </tr>
  <tr> <td> GO:1904018 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:1904018">positive regulation of vasculature development</a> </td> </tr>
  <tr> <td> GO:0060021 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0060021">roof of mouth development</a> </td> </tr>
  <tr> <td> GO:0090504 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0090504">epiboly</a> </td> </tr>
  <tr> <td> GO:0070301 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0070301">cellular response to hydrogen peroxide</a> </td> </tr>
  <tr> <td> GO:0070509 </td> <td align="right"> 0.009 </td> <td align="right"> 7.547 </td> <td align="right"> 2 </td> <td align="right"> 6 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0070509">calcium ion import</a> </td> </tr>
  <tr> <td> GO:0007589 </td> <td align="right"> 0.009 </td> <td align="right"> 12.539 </td> <td align="right"> 2 </td> <td align="right"> 5 </td> <td align="right"> 6 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0007589">body fluid secretion</a> </td> </tr>
  <tr> <td> GO:0045669 </td> <td align="right"> 0.009 </td> <td align="right"> 12.539 </td> <td align="right"> 2 </td> <td align="right"> 5 </td> <td align="right"> 6 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0045669">positive regulation of osteoblast differentiation</a> </td> </tr>
   </table>
