<!-- html table generated in R 4.0.2 by xtable 1.8-4 package -->
<!-- Tue Apr  6 16:11:25 2021 -->
<table border=1>
<caption align="top">  Gene to GO BP  test for over-representation </caption>
<tr> <th> GOBPID </th> <th> Pvalue </th> <th> OddsRatio </th> <th> ExpCount </th> <th> Count </th> <th> Size </th> <th> Term </th>  </tr>
  <tr> <td> GO:2001233 </td> <td align="right"> 0.000 </td> <td align="right"> 4.313 </td> <td align="right"> 8 </td> <td align="right"> 16 </td> <td align="right"> 25 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:2001233">regulation of apoptotic signaling pathway</a> </td> </tr>
  <tr> <td> GO:0036503 </td> <td align="right"> 0.001 </td> <td align="right"> 16.497 </td> <td align="right"> 2 </td> <td align="right"> 7 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0036503">ERAD pathway</a> </td> </tr>
  <tr> <td> GO:0030433 </td> <td align="right"> 0.001 </td> <td align="right"> 16.497 </td> <td align="right"> 2 </td> <td align="right"> 7 </td> <td align="right"> 8 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0030433">ubiquitin-dependent ERAD pathway</a> </td> </tr>
  <tr> <td> GO:0045747 </td> <td align="right"> 0.008 </td> <td align="right">  Inf </td> <td align="right"> 1 </td> <td align="right"> 4 </td> <td align="right"> 4 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0045747">positive regulation of Notch signaling pathway</a> </td> </tr>
  <tr> <td> GO:0035220 </td> <td align="right"> 0.009 </td> <td align="right"> 4.249 </td> <td align="right"> 4 </td> <td align="right"> 9 </td> <td align="right"> 14 </td> <td> <a href="http://amigo.geneontology.org/amigo/term/GO:0035220">wing disc development</a> </td> </tr>
   </table>
